.marqueeContainer {
  width: 100%;
  overflow: hidden;
  padding-bottom: 30px;
  margin-top: auto;
  position: relative;
  z-index: 10;
}

.marqueeContent {
  display: flex;
  align-items: center;
  gap: 30px;
  width: max-content;
  animation: marquee 60s linear infinite;
}

.marqueeItem {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid transparent;
  color: #9EAABB;
  font-family: var(--font-nunito-sans);
  font-size: 15px;
  white-space: nowrap;
  position: relative;
}

.marqueeItem::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(60deg, #5eb5f0 13.4%, #02704f 86.6%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
